#main app
node_modules/
.env
.pending

#mail notification service
mail_notification_service/node_modules/
mail_notification_service/.env


#frontend
frontend/node_modules/
frontend/.env
frontend/.gitignore
